li {
  list-style-type: none;
  text-align: center;
}

.header {
  height: 80px;
  background-color: rgb(186, 85, 28);
  text-color: white;
  text-align: center;
  font-size: 2rem;
}

#directory {
  background-color: rgb(29, 113, 213);
  font-size: 1.1rem;
  height: 50px;
}

#account-buttons {
  background-color: rgb(186, 85, 28);
}

#library-photo {
  background-size: 100%;
  min-height: 400px;
  background: url("https://raw.githubusercontent.com/erickkg/LosAngeles-Public-Library/master/img/library.jpeg");
  background-attachment: fixed;
  background-position: center;
  text-align: center;
  color: #fff;
}


/*
#how-we-teach-header {
  background-size: 100%;
  min-height: 200px;
  background: url("https://images.unsplash.com/photo-1536148935331-408321065b18?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=933&q=80");
  background-attachment: fixed;
  background-position: 0 -300px;
  text-align: center;
  color: #fff;
}
*/
