* {
  border-radius: 0 !important;
  font-size: 1.05rem;
}

a:hover {
  text-decoration: none;
}

body {
  background-color: rgb(204, 194, 197);
}

li {
  list-style-type: none;
  text-align: center;
}

#directory {
  background-color: rgb(29, 113, 213); /* TODO: What does this do? Not showing. */
  font-size: 1.1rem;
  height: 100px;
}

#nav-links {
  background-color: #065a82 !important;
  height: 60px;

}



/* ADDES BOLD WHEN HOVERING OVER LINKS INSIDE OF NAV */
#collections-and-resources-dropdown li:hover,
#locations-and-hours-dropdown li:hover,
#events-dropdown li:hover,
#get-involved-dropdown li:hover,
#about-lapl-dropdown li:hover
 {
  font-weight: bold;
}

#collections-and-resources-dropdown {
  width: 900px;
}
#locations-and-hours-dropdown {
  margin-left: -250px;
}

#events-dropdown {
  margin-left: -410px;
}

#get-involved-dropdown {
  margin-left: -500px;
}

#about-lapl-dropdown {
  margin-left: -635px;
}

.white-hover-shadow:hover {
    -moz-box-shadow: 0 0 20px #ccc;
    -webkit-box-shadow: 0 0 20px #ccc;
    box-shadow: 0 0 20px #fff;

}
.text-lg {
  font-size: 1.2rem;
}
.text-xlg{
  font-size: 1.8rem;
}
.text-xxlg{
  font-size: 2rem;
}

.header {
  height: 80px;
  background-color: #bf211e;
  color: white;
  text-align: center;
  font-size: 2rem;
  margin: 0;
}

.max-height {
  height: 100%;
}

.bg-darkest {
  background-color: #080705;
}

.btn-dropdown {
  color: white;
  background-color: #065a82;
  height: 100%;
}

.btn-dropdown:hover {

  background-color: #eaeaea !important;
}
.btn-light-transition {
  color: white;
  font-weight: bold;
  border: 1px solid #fff;
  padding: 10px;
}

.btn-light-transition:hover {
  color: black;
  background-color: #fff;
}
.mydropdowncss:hover .dropdown-menu {
    display: block;
    margin-top: 0; /* removes gap, prevents closeing. */
 }


 .dropdown-menu li a{
   /* border: 1px solid black;  TODO: DELETE. USED FOR DEBUGGING */
 }

 .dropdown .row {
   width: 900px;
 }

 .book-search {
  text-align: center;
  background-color: #bf211e;
 }

  .store-button {
  height: 60px;
  padding: 35px;
  }

 .icon {
   width: 80px;
   text-align: center;
 }

 .list-group a:hover {
   font-weight: bold;
 }


#account-buttons {
  background-color: #bf211e;
}

#library-photo {
  background-size: 100%;
  min-height: 450px;
  background: url("https://raw.githubusercontent.com/erickkg/LosAngeles-Public-Library/master/img/library.jpeg");
  background-attachment: fixed;
  background-position: center;
  text-align: center;
  color: #fff;
}

#link-list {
  font-size: 0.9rem;

}


/*
#how-we-teach-header {
  background-size: 100%;
  min-height: 200px;
  background: url("https://images.unsplash.com/photo-1536148935331-408321065b18?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=933&q=80");
  background-attachment: fixed;
  background-position: 0 -300px;
  text-align: center;
  color: #fff;
}
*/

@media only screen and (max-width: 400px) {
  body {
    background-color: lightblue;
  }
}
